body {
    margin-top: 50px;
}

.jumbotron img {
    width: 25%;
}

section {
    min-height: 420px;
}

footer {
    clear: both;
    position: relative;
    bottom: 0;
    left: 0;
}

.ig-thumbnail {
    width: 100px;
    height: 100px;
    float: left;
    overflow: hidden;
}

.ig-thumbnail img {
    width: 100px;
}